# Taxi orders prediction using Machine Learning

Sweet Lift Taxi company has collected historical data on taxi orders at airports. To attract more drivers during peak hours, we need to predict the amount of taxi orders for the next hour. Build a model for such a prediction.

The RMSE metric on the test set should not be more than 48.

## Project instructions

1. Download the data and resample it by one hour.
2. Analyze the data.
3. Train different models with different hyperparameters. The test sample should be 10% of the initial dataset. 
4. Test the data using the test sample and provide a conclusion.

## Data description

The data is stored in file `taxi.csv`. The number of orders is in the '*num_orders*' column.

<hr>

 # Table of contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#open_the_data">Open the data file and study the general information</a></li>
        <li><a href="#prepare_the_data">Data preparation</a></li>
        <li><a href="#model_analysis">Model analysis</a></li>
        <li><a href="#model_training">Model training</a></li>
        <li><a href="#model_testing">Model testing</a></li>
        <li><a href="#conclusion">Conclusion</a></li>
    </ol>
</div>
<br>
<hr>

<div id="open_the_data">
    <h2>Open the data file and study the general information</h2> 
</div>

In [3]:
# import pandas and numpy for data preprocessing and manipulation
import numpy as np
import pandas as pd

# matplotlib and seaborn for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# import module for splitting and cross-validation using gridsearch
from sklearn.model_selection import train_test_split, GridSearchCV

# import metric to measure quality of model
from sklearn.metrics import mean_squared_error

# import machine learning models
from sklearn.linear_model import LinearRegression # import linear regression algorithm
from sklearn.ensemble import RandomForestRegressor # import random forest algorithm
from catboost import CatBoostRegressor, Pool # import catboost regressor
from lightgbm import LGBMRegressor # import lightgbm regressor
from xgboost import XGBRegressor # import xgboost regressor

from IPython.display import display

print('Project libraries has been successfully been imported!')

Project libraries has been successfully been imported!

In [4]:
# read the data
try:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/taxi.csv')
except:
    data = pd.read_csv('C:/Users/hotty/Desktop/Practicum by Yandex/Projects/Time Series/taxi.csv')
print('Data has been read correctly!')

Data has been read correctly!

In [5]:
# function to determine if columns in file have null values
def get_percent_of_na(df, num):
    count = 0
    df = df.copy()
    s = (df.isna().sum() / df.shape[0])
    for column, percent in zip(s.index, s.values):
        num_of_nulls = df[column].isna().sum()
        if num_of_nulls == 0:
            continue
        else:
            count += 1
        print('Column {} has {:.{}%} percent of Nulls, and {} of nulls'.format(column, percent, num, num_of_nulls))
    if count != 0:
        print("\033[1m" + 'There are {} columns with NA.'.format(count) + "\033[0m")
    else:
        print()
        print("\033[1m" + 'There are no columns with NA.' + "\033[0m")
        
# function to display general information about the dataset
def get_info(df):
    """
    This function uses the head(), info(), describe(), shape() and duplicated() 
    methods to display the general information about the dataset.
    """
    print("\033[1m" + '-'*100 + "\033[0m")
    print('Head:')
    print()
    display(df.head())
    print('-'*100)
    print('Info:')
    print()
    display(df.info())
    print('-'*100)
    print('Describe:')
    print()
    display(df.describe())
    print('-'*100)
    display(df.describe(include='object'))
    print()
    print('Columns with nulls:')
    display(get_percent_of_na(df, 4))  # check this out
    print('-'*100)
    print('Shape:')
    print(df.shape)
    print('-'*100)
    print('Duplicated:')
    print("\033[1m" + 'We have {} duplicated rows.\n'.format(df.duplicated().sum()) + "\033[0m")
    print()

In [6]:
# study the general information about the dataset 
print('General information about the dataframe')
get_info(data)

General information about the dataframe
----------------------------------------------------------------------------------------------------
Head:

              datetime  num_orders
0  2018-03-01 00:00:00           9
1  2018-03-01 00:10:00          14
2  2018-03-01 00:20:00          28
3  2018-03-01 00:30:00          20
4  2018-03-01 00:40:00          32

----------------------------------------------------------------------------------------------------
Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    26496 non-null  object
 1   num_orders  26496 non-null  int64
dtypes: int64(1), object(1)
memory usage: 414.1+ KB

None

----------------------------------------------------------------------------------------------------
Describe:

         num_orders
count  26496.000000
mean      14.070463
std        9.211330
min        0.000000
25%        8.000000
50%       13.000000
75%       19.000000
max      119.000000

----------------------------------------------------------------------------------------------------

                   datetime
count                 26496
unique                26496
top     2018-03-01 00:00:00
freq                      1

Columns with nulls:

There are no columns with NA.

None

----------------------------------------------------------------------------------------------------
Shape:
(26496, 2)
----------------------------------------------------------------------------------------------------
Duplicated:
We have 0 duplicated rows.

### Conclusion

From the general information about the data, we see that the data consist of 26496 rows and 2 columns. There are no missing values in the data and the data does not have duplicated rows. Looking at the datatype of the features in the data, we observe that `datetime` has object datatype which needs to be change to datetime, the `num_orders` datatype needs to be changed to `int32` to reduce memory requirements during computation.

<div id="prepare_the_data">
    <h2>Data preparation</h2> 
</div>

<div id="model_analysis">
    <h2>Model analysis</h2> 
</div>

<div id="model_training">
    <h2>Model training</h2> 
</div>

<div id="model_testing">
    <h2>Model testing</h2> 
</div>

<div id="conclusion">
    <h2>Conclusion</h2> 
</div>

# Review checklist

- [x]  Jupyter Notebook is open
- [ ]  The code is error-free
- [ ]  The cells with the code have been arranged in order of execution
- [ ]  The data has been downloaded and prepared
- [ ]  The data has been analyzed
- [ ]  The model has been trained and hyperparameters have been selected
- [ ]  The models have been evaluated. Conclusion has been provided
- [ ] *RMSE* for the test set is not more than 48